<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/Static/JS/about.js" defer></script>
</head>
<body>
    <div class="container">

        <div class="slides">

            <div class="slide" style="background-image: url('https://wallpapers.com/images/featured/new-york-city-5oaa14h4mw6w3o71.jpg') ">
                <h3>Нью-Йорк</h3>
            </div>

            <div class="slide active" style="background-image: url('https://www.hdwallpapers.in/download/russia_saint_petersburg_architecture_building_palace_square_with_reflection_hd_travel-1920x1080.jpg')">
                <h3>Санкт-Петербург</h3>
            </div>

            <div class="slide" style="background-image: url('https://cdn.betterwalls.com/pim/pr/WP/30012047/photo-wallpaper-london-palace-of-westminster-sunset_big01.jpg')">
                <h3>Лондон</h3>
            </div>

        </div>

        <div class="handle-buttons">
            <button id="prev" onclick="prevClick()" class="image-handler">PREV</button>
            <button id="next" onclick="nextClick()" class="image-handler">NEXT</button>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>